*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 4rem;
    background-color: lightblue;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.logo, nav.link, div.login{
    background-color: orange;
    height: 2rem;
    border-style: dotted;
}

.link{
    justify-content: center;
    align-items: center;
    width: 75%;
}

header ul>li{
    list-style-type: none;
    display: inline-block;
    margin-left: 2rem;
}

div.logo{
    justify-content: left;
    width: 12.5%;
    margin-left: 16rem;
}

.logo p{
    margin-left: 1rem;
}

div.login{
    justify-content: right;
    width: 12.5%;
    margin-right: 16rem;
}

.login p{
    margin-right: 1rem;
}

.main-photo{
    background-color: blue;
    height: 40rem;
}

.main-text{
    background-color: #EE82EE;
    height: 30rem;
    width: 65rem;
    border-style: dotted;
}

.container{
    height: 36rem;
    margin: 0 auto;
    max-width: 70%;
}

div.pic1{
    height: 30rem;
    width: 60rem;
    background-color: #1E90FF;
    border-style: dotted;
}

div.text1{
    height: 30rem;
    width: 40em;
    background-color: lightpink;
    border-style: dotted;
}


div.pic2{
    height: 30rem;
    width: 40em;
    background-color: lightpink;
    border-style: dotted;
}

div.text2{
    height: 30rem;
    width: 60rem;
    background-color: #1E90FF;
    border-style: dotted;
}

.due{
    background-color: lightgray;
    height: 36rem;
}

.box{
    height: 30rem;
    background-color: forestgreen;
}
