*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 4rem;
    background-color: lightblue;
}

.principale{
    height: 4rem;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.logo, nav.link, div.login{
    background-color: orange;
    height: 2rem;
    border-style: dotted;
}

nav.link{
    width: 40%;
}

header ul>li{
    list-style-type: none;
    display: inline-block;
    margin-left: 2rem;
}

div.logo{
    justify-content: left;
    width: 15%;
}

.logo p{
    margin-left: 1rem;
}

div.login{
    justify-content: right;
    width: 15%;

}

.login p{
    margin-right: 1rem;
}

.main-pic{
    background-color: blue;
    height: 40rem;
}

.main-text{
    background-color: #EE82EE;
    height: 30rem;
    width: 65rem;
    border-style: dotted;
}

.first{
    height: 35rem;
}

div.pic1{
    height: 30rem;
    width: 40%;
    background-color:#1E90FF;
    border-style: dotted;
}

div.text1{
    height: 30rem;
    width: 30%;
    background-color: lightpink;
    border-style: dotted;
}

.second{
    height: 35rem;
    background-color: lightgrey;
}

div.pic2{
    height: 30rem;
    width: 30%;
    background-color: lightpink;
    border-style: dotted;
}

div.text2{
    height: 30rem;
    width: 40%;
    background-color:#1E90FF;
    border-style: dotted;
}

.tirth{
    height: 35rem;
}

div.pic3{
    height: 30rem;
    width: 40%;
    background-color:#1E90FF;
    border-style: dotted;
}

div.text3{
    height: 30rem;
    width: 30%;
    background-color: lightpink;
    border-style: dotted;
}

.end-pic{
    height: 55rem;
    background-color: lightgrey;
}

.green{
    background-color: forestgreen;
    height: 50rem;
    width: 70%;
    border-style: dotted;
}

.info{
    height: 45rem;
    background-color: #23272A;
}

.pink{
    height: 40rem;
    width: 30%;
    background-color: #F08080;
    border-style: dotted;
}

.magenta{
    height: 40rem;
    width: 10%;
    background-color: #20B2AA;
    border-style: dotted;
}

.pink, .magenta{
    margin-bottom: 3rem;
}

.register-box{
    display: flex;
    align-items: flex-end;
    background-color:#23272A;
    height: 5rem;
}

.register{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 3rem;
    width: 70%;
    background-color: #7FFFD4;
}

div.register>p{
    margin: 1rem;
}